<%- include('partials/header') %>

    <title>BMSCE Exam Portal</title>
    <link rel="stylesheet" href="/css/index.css">
    </head>

    <body>
        <div class="container">
            <div class="heading">
                <div class="name">
                    <h1>BMS COLLEGE OF ENGINEERING</h1>
                </div>
                <div class="extra">
                    <h3>WELCOME TO</h3>
                    <h2>BMSCE ONLINE PROJECT SUBMISSION PORTAL</h2>
                </div>
            </div>
            <div class="nav">
                <p>Get Started As:</p>
                <button class="btn btn-stud"><a href="/suser/login">STUDENT</a></button>
                <button class="btn btn-adm"><a href="/teacheruser/login">TEACHER</a></button>
            </div>
            <div class="bms-media">
                <a href="https://www.bmsce.ac.in/" class="bms-icon">
                    <i class="fa fa-university"></i>

                </a>

                <a href="https://campus.bmsce.ac.in/student/" class="bms-icon">
                    <i class="fa fa-users"></i>
                </a>

            </div>
            <footer><a href="/adminuser/login">LOGIN AS ADMIN</a></footer>
        </div>
        <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
        <%- include('partials/footer') %>