<%- include('partials/header') %>
    <title>Grades</title>
    <link rel="stylesheet" href="/css/pregrades.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <h1>BMSCE ONLINE PROJECT SUBMISSION PORTAL</h1>
    </header>
    <div class="container">
     <div class="sidebar">
          <div class="name">
              <h3>Welcome</h3>
              <p><i class="fa fa-user" aria-hidden="true"></i>XYZ <br>XYZ.cs19@bmsce.ac.in
              </p>
          </div>
          <div class="notifications">
              <h3 style="color: #593535;">NOTIFICATIONS:</h3>
              <ul>
                  <li>LAST DAY TO SUBMIT YOUR REPORT IS-29TH SEPTEMBER</li>
                  <hr>
                  <li>APPOINTMENT HAS BEEN SCHEDULED AT 14TH NOV-5:45PM</li>
                  <hr>
                  <li>LAST DAY TO SUBMIT YOUR PROJECT IS-29TH NOVEMBER</li>
                  <hr>
                  <li>PRESENTATION HAS BEEN SCHEDULED AT:17TH OCTOBER-3:45PM</li>
                  <hr>
                  <li>FINAL GRADES HAVE BEEN GIVEN FOR YOUR PROJECT SUBMISSION</li>
                  <hr>
              </ul>
          </div>
      </div>
        <div class="menu">
            <ul>
                <li><a href="/student/report">Report Submission</a></li>
                <li><a href="/student/appointment">Schedule an Appointment</a></li>
                <li><a href="/student/psub">Project Submission</a></li>
                <li class="active"><a href="/student/grades">Grades</a></li>
                <li><a href="/suser/logout">Logout</a></li>
            </ul>
        </div>
        <div class="main">
           <h1>NOT YET GRADED</h1>
    </div>

<%- include('partials/footer') %>