<%- include('partials/header') %>


    <title>Student Tab</title>
    <link rel="stylesheet" href="/css/psub.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/psub.js"></script>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="./dist/font/font-fileuploader.css" rel="stylesheet">

    <!-- styles -->
    <link href="./dist/jquery.fileuploader.min.css" media="all" rel="stylesheet">

    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="./dist/jquery.fileuploader.min.js" type="text/javascript"></script>



</head>

<body>
    <header>
        <h1>BMSCE ONLINE PROJECT SUBMISSION PORTAL</h1>
    </header>
    <div class="container">
        <div class="sidebar">
            <div class="name">
                <h3>Welcome</h3>
                <p><i class="fa fa-user" aria-hidden="true"></i>XYZ <br>XYZ.cs19@bmsce.ac.in
                </p>
            </div>
            <div class="notifications">
                <h3 style="color: #593535;">NOTIFICATIONS:</h3>
                <ul>
                    <li>LAST DAY TO SUBMIT YOUR REPORT IS-29TH SEPTEMBER</li>
                    <hr>
                    <li>APPOINTMENT HAS BEEN SCHEDULED AT 14TH NOV-5:45PM</li>
                    <hr>
                    <li>LAST DAY TO SUBMIT YOUR PROJECT IS-29TH NOVEMBER</li>
                    <hr>
                    <li>PRESENTATION HAS BEEN SCHEDULED AT:17TH OCTOBER-3:45PM</li>
                    <hr>
                    <li>FINAL GRADES HAVE BEEN GIVEN FOR YOUR PROJECT SUBMISSION</li>
                    <hr>
                </ul>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/student/report">Report Submission</a></li>
                <li><a href="/student/appointment">Schedule an Appointment</a></li>
                <li class="active"><a href="/student/psub">Project Submission</a></li>
                <li><a href="/student/grades">Grades</a></li>
                <li><a href="/suser/logout">Logout</a></li>
            </ul>
        </div>
        <div class="instructions">
            <h3 style="color:#593535;">Instructions:</h3>
            <ol>
                <li>UPLOAD A LINK TO YOUR PROJECT FILES HERE.</li>
                <li>MAKE SURE THE LINK IS ACCESSIBLE TO THE INSTRUCTOR.</li>
                <li>THE REPO SHOULD CONTAIN ALL THE FILES PERTAINING TO THE CURRENT PROJECT.</li>
                <li>ADD A DESCRIPTION OF THE FILE STRUCTURE.</li>
            </ol>
        </div>

        <form action="/student/psub" method="post">
            <label for="link">URL:</label>
        <input type="url" name="link" id="link">
        <textarea name="structure" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="submit" class="btn">
        </form>

    </div>




    <%- include('partials/footer') %>