html,
body {
  height: 100%;
}
.header {
  font-size: 15px;
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px;
}
* {
  box-sizing: border-box;
}
.active {
  background-color: #ddd;
}
.topnav {
  width: 105%;
  overflow: hidden;
  background-color: #593535;
}
.topnav a {
  font-size: 20px;
  float: left;
  display: ruby-base;
  color: #f2f2f2;
  text-align: center;
  width: 20%;
  padding: 15px 15px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.column {
  float: left;
  padding: 0px;
}

.column.side {
  width: 30%;
}

.column.middle {
  width: 60%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.abc {
  font-size: 19px;
  color: white;
  font-family: cursive;
  border: 1px solid black;
  outline: black solid 5px;
  margin: auto;
  padding: 10px;
  text-align: center;
  background-color: #8a5858;
}
#teachers {
  margin-left: auto;
  margin-right: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
}

table.table {
  width: 100%;
  border-spacing: 0;
  border: 5px solid black;
}

 table.table tbody{
  display: block;
} 

table.table thead{
  display:block;
}

thead tr th {
  height: 50px;
  line-height: 40px;
}

table.table tbody {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

tbody {
  border-top: 2px solid black;
}

tbody td,
thead th {
  width: 360px;
  border-right: 2px solid black;
}
td {
  text-align: center;
}

#teachers td,
#teachers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#teachers tr:nth-child(even) {
  background-color: #f3f0f0;
}

#teachers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #593535;
  color: white;
}
#teachers td {
  padding-top: 5px;
  padding-bottom: px;
  width: 235px;
}
#teachers {
  font-size: 20px;
}
.column.side {
  background-color: rgb(231, 226, 226);
  width: 400px;
  height: 140px;
  border: 12px solid rgb(48, 46, 46);
  padding: 10px;
  margin: 3px;
  text-align: center;
  border: 6px solid rgb(0, 0, 0);
}
.approval {
  text-align: center;
  vertical-align: middle;
}
input.radio {
  width: 30px;
  height: 30px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-box {
  background-color: transparent;
  width: 350px;
  height: 110px;
  border: 5px solid #f1f1f1;
  perspective: 1000px;
  margin: 0.5cm;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 20px;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.border {
  border-style: solid;
  border-width: 3x;
  border-left-width: 5px;
  border-right-width: 6px;
  border-color: black;
  margin: -0.5cm;
}
.border1 {
  border-style: solid;
  border-width: 20x;
  border-top-width: 15px;
  border-bottom-width: 15px;
  border-left-width: 15px;
  border-right-width: 15px;
  border-color: black;
  margin: 0.1cm;
  padding: 10px;
}
